.hero {
    background-image: url('../assets/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .container {
    position: relative;
    z-index: 1;
}

.hero h1,
.hero p {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}

.noEjerciciosFoundBackdrop{
	background-image: url('../assets/not-found.webp');
    background-size: cover;
    width:70vw;
    background-position: center;
    height: 50vh;
    margin-left:auto;
    opacity: .5;
}